* {
    padding: 0;
    margin: 0 auto;
}

header {
    background-color: rgba(163, 76, 145, 1);
    width: 1440px;
    height: 125px;
}

.logo-info {
    float: left;
    /* width: 50%; */
}

.logo-point {
    list-style-type: none;
}

.menu-box {
    float: right;
    /* width: 50%; */
}

.menu {
    display: inline;
}

.menu-point {
    list-style-type: none;
    display: inline;
}

.presentation {
    background-image: url(img/pres_back.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 1440px;
    height: 860px;
    z-index: 5;
}

.info {
    background-image: url(img/info_back.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 1440px;
    height: 1055px;
    z-index: 4;
    margin-top: -300px;
}

.range {
    background-image: url(img/range_back.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    background-size: 1440px 1140px;
    width: 1440px;
    height: 1140px;
    margin-top: -500px;
}
